@model IEnumerable<BangazonWorkforce.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
      
          
            
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var singleComputer in Model) {
        <tr>
          
         
            <th>
                @Html.LabelFor(model => singleComputer.Make, "Computer:")
            </th>
            <td>
                @Html.DisplayFor(modelItem => singleComputer.Make)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id=singleComputer.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=singleComputer.Id })
            </td>
        </tr>
}
    </tbody>
</table>
